h1{
    text-align:center;
    background-color:cornflowerblue;
    color:aliceblue;   
}
body{
    background-image:url(../images/haikei02.jpg);
}

h2{
    background-color:aquamarine;
    text-align: center;
      color:dimgrey;
}
h3{
    color:cornflowerblue;
}
p{
    color:darkred;
}
table{
    background-color:darkturquoise;
}
ol{
    background-image:url(../images/haikei03.png);
}