div.title{
    width:1000px;
    height:40px;
    background-color: darkgray;
    text-align: center;
}
   
div.madori{
    width:1000px;
    height:320px;
    display: inline-block;
    vertical-align:top;
    background-color:darkgray;
}

div.image{
    width:1000px;
    height:300px;
    vertical-align:top;
    background-position: center;
}

div.bunsyou{
    width:1000px;
    height:20px;
    background-color:aliceblue;
    vertical-align:top;
    font-size: 15px;
    text-align:center;
}

div.madori2{
    width:1000px;
    height:750px;
    display: inline-block;
    vertical-align:top;
    background-color: black;
}

div.hidari{
    width:490px;
    height: 745px;
    display: inline-block;
    vertical-align:top;
    font-size: 0;
    background-color: white;
    margin-left: 5px;
}
span.image1{
    display:inline-block;
    margin-left: 20px;
    margin-top: 30px;
}
div.bunsyou1{
    width:460px;
    height:50px;
    vertical-align:top;
    font-size: 15px;
    margin-left: 20px;
    text-align: center;
}

span.image2{
    display:inline-block;
    margin-left: 20px;
    margin-top: 10px;
}
div.bunsyou2{
    width:460px;
    height:50px;
    vertical-align:top;
    font-size: 15px;
    text-align: center;
}

div.migi{
    width:495px;
    height:745px;
    display: inline-block;
    vertical-align:top;
    font-size: 0;
    background-color: white;
}
span.image3{
    display:inline-block;
    margin-left: 20px;
    margin-top: 30px;
}
div.bunsyou3{
    width:460px;
    height:50px;
    vertical-align:top;
    font-size: 15px;
    text-align: center;
}

div.footer{
    width:1000px;
    height:40px;
    background-color: coral;
    text-align:right;
    margin-top: 20px;
}

div.wrap{
    width:1000px;
    margin:0px auto;
}

